html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.video-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	pointer-events: none;
}

.content {
	position: relative;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rebeccapurple;
}

p {
	color: #fff;
	font-size: 3vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	letter-spacing: 0.01em;
}

.cutout {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	clip-path: circle(
		10vw at 50% 50%
	); /* Ограничиваем видимость только в этой области */
	overflow: hidden; /* Вырезаем лишнее */
}

.cutout video {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cutout .text {
	position: relative;
	z-index: 1;
	color: transparent;
	font-weight: bold;
	font-size: 3vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-color: black; /* fallback */
	mix-blend-mode: screen;
}

.cutout.small {
	clip-path: circle(3vw at 50% 50%);
}

.cutout.medium {
	clip-path: circle(7vw at 50% 50%);
}

.cutout.large {
	clip-path: circle(18vw at 50% 50%);
}
